@using Model
<div class="bg-light border p-2 col-5 offset-1" @onclick="(args)=> AmenityCheckBoxSelectionChanged(args,Amenities.Name)">
    <h4 class="text-secondary">Hotel Amenities - @Amenities.Id</h4>
    @* <input type="checkbox" @onchange="OnAmenitiesCheckBoxSelection" />*@
    <br />
    <span> @Amenities.Name</span>
    <br />
    <span> @Amenities.Description</span>

    <div class="alert alert-success">

        @if (FirstFragment == null)
        {


            <span>Empty First Fragment</span>
        }
        else
        {
            <span>@FirstFragment</span>
        }
        <br />
        @if (SecondFragment == null)
        {


            <span>Empty Second Fragment</span>
        }
        else
        {
            <span>@SecondFragment</span>
        }


    </div>

</div>

@code {

    [Parameter]
    public BlazorAmenities Amenities { get; set; }

    [Parameter]
    public EventCallback<string> AmenitiesSelectionChanged { get; set; }

    [Parameter]
    public RenderFragment FirstFragment { get; set; }

    [Parameter]
    public RenderFragment SecondFragment { get; set; }

    protected async Task AmenityCheckBoxSelectionChanged(MouseEventArgs args,string name)
    {
        await AmenitiesSelectionChanged.InvokeAsync(name);
    }
}